.mySlides {display: none}

html *
{
   font-family: Tahoma !important;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #22223b ;
  padding: 20px;
  text-align: center;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #4a4e69;
}

/* Style the topnav links */
.topnav a {
  width: 120px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
}

/* Change color on hover */
.topnav a:hover {
  width: 160px;
  background-color: #22223b;
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.responsive {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.card {
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-family: arial;
}

.creator {
  color: grey;
  font-size: 22px;
}
.tag {
  padding: 5px;
  width: 50%;
  border-radius: 20px;
  background-color: #4a4e69;
  color: white;
  font-size: 20px;
  margin: auto;
}

.card a {
  text-decoration: none;
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.cardcollection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  position: absolute;
  text-align: center;
  color: white;
}
.cardcollection > div {
  margin: 6px;
}